@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.primary {
    padding: 18px 10px;
    background-color: black;
    color: white;
    min-width: 220px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}

.secondary {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 470px;
  padding: 28px 25px;
  gap: 10px;
}