.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}

.contactform {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contactform form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.submit {
    display: flex;
    justify-content: end;
}

.topBut {
    display: flex;
    gap: 32px;
    padding-bottom: 15px;
}

.formControl {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 32px;
}

.formControl input {
    height: 40px;
    padding: 0 8px;
}

.formControl label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}

.formControl textarea {
    padding: 8px;
}